.project-card {
  display: grid;
  grid-template-areas:
    'logo title title'
    'logo description description'
    'tech-stack tech-stack tech-stack'
    '. . links';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  column-gap: 2rem;
  padding: 30px;
  box-sizing: border-box;
  background-color: white;
  box-shadow:
    0 0 15px rgba(255, 255, 255, 0.6),
    0 0 25px #333;
  margin: 50px 0;
  border-radius: 20px;
}

.project-card > div.logo {
  grid-area: logo;
  text-align: center;
  justify-self: center;
  max-width: 90%;
  box-sizing: border-box;
}

.project-card img {
  width: 60%;
  max-width: 500px;
  justify-self: center;
}

.project-card > div.title {
  grid-area: title;
  text-align: left;
}

.project-card > div.description {
  grid-area: description;
  text-align: justify;
}

.project-card > div.tech-stack {
  grid-area: tech-stack;
  text-align: left;
}

.project-card > button.links {
  grid-area: links;
  text-align: right;
  border-radius: 20px;
  background-color: #fff;
  border: 2px #007bff solid;
  color: #007bff;
  justify-self: right;
  margin-top: 20px;
  padding: 10px;
}

.project-card > button.links:hover {
  background-color: #007bff;
  border: 2px #fff solid;
  color: #fff;
}

.tech-stack {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

span.tech-skill {
  margin: 5px 10px;
  font-size: 0.75rem;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  background-color: #007bff;
}

/* Responsive styles for mobile view */
@media (max-width: 966px) {
  .project-card {
    grid-template-areas:
      'logo logo'
      'title title'
      'description description'
      'tech-stack tech-stack'
      'links links';
    padding: 30px 0;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
  }

  .project-card img {
    width: 60%;
  }

  div.title h3,
  div.description p,
  div.tech-stack,
  div.links {
    margin: 0;
    text-align: center;
  }

  div.description p {
    margin: 0 20px;
    font-size: 0.75rem;
  }

  div.tech-stack {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  div.tech-stack > * {
    text-align: center;
  }

  div.tech-stack > strong {
    display: block;
    text-align: center;
    width: 100%;
    justify-self: center;
  }

  .project-card > button.links {
    text-align: center;
    margin: 0 10px;
  }
}
