.work-card {
  display: grid;
  grid-template-areas:
    'logo position duration'
    'logo company .'
    'logo description description'
    'logo description description'
    '. links links';
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: auto auto auto auto auto;
  column-gap: 2rem;
  padding: 30px;
  box-shadow:
    0 0 15px rgba(255, 255, 255, 0.6),
    0 0 25px #333;
  margin: 50px 0;
  border-radius: 20px;
}

.work-card > div.logo {
  grid-area: logo;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}

.work-card > div.position {
  grid-area: position;
  text-align: left;
}

.work-card > div.description {
  grid-area: description;
  text-align: justify;
}

.work-card > div.company {
  grid-area: company;
  text-align: left;
}

.work-card > div.duration {
  grid-area: duration;
  text-align: right;
  align-self: center;
  font-size: 0.75rem;
}

.work-card > div.links {
  grid-area: links;
  text-align: right;
}

.work-card > div.links > a {
  padding: 7.5px;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #007bff;

  background-color: #fff;
  color: #007bff;
}

.work-card > div.links > a:hover {
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 966px) {
  .work-card {
    grid-template-areas:
      'logo logo'
      'position position'
      'company company'
      'duration duration'
      'description description'
      'links links';
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(6, auto);
    gap: 10px;
  }

  div.logo img {
    width: 60%;
  }

  div.position h3,
  div.company p,
  div.duration p,
  div.links {
    margin: 0;
    text-align: center;
  }

  div.description p {
    margin: 0 20px;
    font-size: 0.75rem;
  }

  .work-card > div.links {
    text-align: center;
    margin: 0 10px;
  }
}
