.education-card {
  display: grid;
  grid-template-areas:
    'logo institution institution'
    'logo location type'
    'logo major major'
    'logo duration duration';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px 50px 50px 100px;
  border: 1px solid #e5e7eb;
  border-radius: 3rem;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  column-gap: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.education-card > img.logo {
  max-width: 200px;
  height: auto;
  align-self: center;
  grid-area: logo;
  text-align: center;
}
.education-card > strong.institution {
  font-size: 2rem;
  grid-area: institution;
  text-align: left;
  justify-self: start;
}
.education-card > p.major {
  grid-area: major;
  text-align: left;
}
.education-card p.duration {
  grid-area: duration;
  text-align: right;
  transform: skewX(-20deg);
  align-self: self-end;
}
.education-card p.type {
  grid-area: type;
  text-align: right;
  transform: skewX(-20deg);
  align-self: self-end;
}
.education-card p.location {
  grid-area: location;
  align-self: self-end;
}

@media (max-width: 966px) {
  .education-card {
    grid-template-areas:
      'logo logo'
      'institution institution'
      'major major'
      'type location'
      'duration duration';
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .education-card > img.logo {
    max-width: 200px;
    justify-self: center;
  }
  .education-card > strong.institution {
    font-size: 1.5rem;
    text-align: center;
    justify-self: center;
  }
  .education-card > p.major {
    text-align: center;
  }
  .education-card > p.type {
    text-align: left;
  }
  .education-card > p.location {
    text-align: right;
  }
  .education-card > p.duration {
    text-align: center;
  }
}
